.heading {
    display: flex;
    justify-content: flex-start;
    font-family: serif;
    margin-top: 2%;
    font-size: x-large;
    font-weight: bolder;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.setPriceForm {
    margin-bottom: 10%;
}