.search-icon {
    max-width: 10%;
}
.header {
    background-color: #1F3349;
}
.right-sidebar {
    background-color: #E5ED98;
}
.logo {
    font-size: 35px;
    color: white;
    font-family: fantasy;
    margin: 10px 40px;
}
.sell-button{
    text-align: center;
    background: #F18362;
    color: white;
    font-family: fantasy;
    margin: 50px 25px;
    padding: 2px 30px;
    border-inline-end-style: aqua;
    font-size: 25px;
    text-decoration: none;
    border-radius: 8%;
    /* border-color: black; */
    border: 2px solid black
}
.explore-button {
    display: flex;
    font-size: 4vh;
    color: white;
    background-color: #5AC680;
    padding: 1.5vh 8vh;
    display: flex;
    font-size: 2vh;
    font-family: fantasy;
    border: 0.3vh solid black;
    border-radius: 5%;
    margin: 10vh 5vh;
    
}

.heading{
    font-size: 6vh;
    font-family: fantasy;
    margin: 10vh 2vh;

}