.search-icon {
    max-width: 10%;
}
.header {
    background-color: #1F3349;
}
.logo {
    font-size: 35px;
    color: white;
    font-family: fantasy;
    margin: 10px 40px;
    display: flex;
    justify-content: flex-start;
}
.sell-button{
    text-align: center;
    background: #F18362;
    color: white;
    font-family: fantasy;
    padding: 13px 36px;
    border-inline-end-style: aqua;
    font-size: 25px;
    text-decoration: none;
    border-radius: 8%;
    margin: 2%;
    /* border-color: black; */
    border: 2px solid black;
}

.header-col-logo {
    display:flex;
    justify-content: flex-start;
}

.header-col-button {
    display:flex;
    justify-content: flex-end;
}

