.search-icon {
    max-width: 10%;
}
.header {
    background-color: #1F3349;
}
.logo {
    font-size: 35px;
    color: white;
    font-family: fantasy;
    margin: 10px 40px;
}
.sell-button{
    text-align: center;
    background: #F18362;
    color: white;
    font-family: fantasy;
    margin: 50px 25px;
    padding: 2px 30px;
    border-inline-end-style: aqua;
    font-size: 25px;
    text-decoration: none;
    border-radius: 8%;
    /* border-color: black; */
    border: 2px solid black
}

